@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    background-color: #1F2937;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 8px 96px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.main{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 96px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.hero{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.sign-up1{
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 0px;
    width: 100px;
    border: transparent;
    border-radius: 8%;
    color: #F9FAF8;
}

.main-img{
    width: 350px;
    height: auto;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 48px;
}

.info-items{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0px auto 120px auto;
}

.info-item{
    display: flex;
    flex: 1 1 150px;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
    max-width: 250px;
    margin: 0px 36px;
}

.info-img{
    max-width: 250px;
    width: 100%;
    object-fit: cover;
    border: thick solid #3882F6;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

.sub-text{
    margin-top: 8px;
    text-align: center;
    color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 144px;
}

.text{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.author{
    color: #1F2937;
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    margin-top: 8px;
}

.call-to-action{
    background-color: #3882F6;
    display: flex;
    margin: 72px 144px;
    width: auto;
    padding: 48px 112px;
    justify-content: space-between;
    gap: 16px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 1;
}

.cta-title{
    font-weight: bold;
    font-size: 24px;
}

.sign-up2{
    background-color: #3882F6;
    color: #F9FAF8;
    border: medium solid #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 0px 48px;
    flex-shrink: 0;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    padding: 32px;
    justify-self: flex-end;
}
